:root {
  --text-primary: hsl(0, 0%, 10%);
  --text-secondary: hsl(0, 0%, 30%);
  --text-invert: hsl(0, 0%, 97%);

  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 99%);
  --background-tertiary: hsl(0, 0%, 97%);
  --background-accent: hsl(0, 0%, 20%);

  --border-color: hsl(0, 0%, 80%);

  --border-outline: 1px solid var(--border-color);
}

h1,
h2,
h3 {
  margin: 0;
}

.button {
  height: 32px;
  padding: 8px;

  line-height: 1;
  font-size: 14px;
  font-weight: 450;
  color: var(--text-primary);

  border: var(--border-outline);
  border-radius: 6px;

  background-color: var(--background-secondary);

  cursor: pointer;
}

.button:hover {
  background-color: var(--background-tertiary);
}

.button-accent {
  color: var(--text-invert);

  background-color: var(--background-accent);

  border: none;
}

.checkbox {
  width: 1em;
  height: 1em;

  accent-color: var(--text-primary);
}

body {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-areas: "header" "main";

  min-height: 100vh;

  font-size: 15px;
  color: var(--text-primary);
}

#page-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  border-bottom: var(--border-outline);
}

#page-title {
  font-size: 20px;
  font-weight: 550;
}

#dialog {
  width: 20rem;
  padding: 32px;

  border: var(--border-outline);
  border-radius: 6px;

  background-color: var(--background-primary);
}

.form-field {
  margin-bottom: 16px;
}

.form-field.form-field.text-field .field-label {
  display: block;

  margin-bottom: 6px;

  font-weight: 500;
}

.form-field.text-field .field-input {
  width: 100%;
  padding: 8px;

  border: var(--border-outline);
  border-radius: 6px;
}

.form-field.checkbox-field {
  display: flex;
  align-items: center;
}

.form-field.checkbox-field .field-input {
  margin-right: 8px;
}

#form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  margin-top: 64px;
}

#form-actions .button-accent:hover {
  color: hsl(0, 0%, 100%);

  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 4px hsl(0, 0%, 90%);
}

#page-main {
  grid-area: main;

  padding: 32px;
}

#books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 16px;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;

  background-color: var(--background-primary);
  box-shadow: inset 0 0 1px hsl(0, 0%, 80%);

  border: var(--border-outline);
  border-radius: 8px;
}

.book-card .book-title,
.book-data td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.book-card .book-title {
  font-size: 1em;
  font-weight: 600;
}

.book-card .book-data {
  table-layout: fixed;

  line-height: 1.5;
}

.book-data th {
  text-align: left;

  font-weight: 500;
  color: var(--text-secondary);
}

.book-data td:has(.checkbox) {
  display: flex;
  align-items: center;

  height: 1lh;
}

.book-card .book-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.book-actions .button {
  font-weight: 500;
}

.book-actions .button[data-action="remove"] {
  color: #d1242f;

  &:hover {
    color: var(--text-invert);

    background-color: hsl(0, 80%, 50%);

    border-color: transparent;
  }
}
